---
import { Container, FeatureCard } from '@components/odyssey-theme';

import Layout from '../../layouts/Page.astro';
import HomeHeroSection from '../../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Learn About AAC</h2>
			<p>
				Start here to learn about AAC and participate in research.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/en/what-is-aac" title="What is AAC?" imgSrc="/assets/images/home/whatisaac">
				</FeatureCard>
				<FeatureCard href="/en/research-recruitment" title="Research Recruitment" imgSrc="/assets/images/home/screenshots/research_recruitment">
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Featured Articles</h2>
			<p>
				Popular AAC articles and resources.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/en/blog/posts/core-word-board" title="AAC Core Word Board" imgSrc="/assets/images/home/screenshots/core-word-board">
				</FeatureCard>
				<FeatureCard href="/en/blog/posts/aac-practive-sharing" title="AAC in Practice" imgSrc="/assets/images/home/screenshots/aac-practice">
				</FeatureCard>
				<FeatureCard href="/en/blog/posts/communication-matrix" title="AAC Assessment: Communication Matrix" imgSrc="/assets/images/home/screenshots/communication-matrix">
				</FeatureCard>
				<FeatureCard href="/en/blog/posts/aac-apply" title="How to Apply for an AAC Device" imgSrc="/assets/images/home/screenshots/aac-apply">
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Projects</h2>
			<p>
				Ongoing projects and research.
			</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/en/projects/os-dpi-ai"
					imgSrc="/assets/images/home/screenshots/os-dpi-ai"
					title="Project Open: AAC + AI"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
