---
import { SkipLink } from '@components/odyssey-theme';
import { ViewTransitions } from 'astro:transitions';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
const isEnglish = Astro.url.pathname.startsWith('/en');
---

<html lang={isEnglish ? 'en' : 'zh-TW'}>
	<head>
		<BaseHead {...seo} />
		<ViewTransitions />
	</head>
	<body>
		<SkipLink />
    <slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
